body {
  background-color: #1b262c;
  color: white;
}

.App {
  text-align: center;
}

.todo {
  background-color: #3282b8;
  width: 10%;
  text-align: left;
  margin: 10px auto;
  padding: 10px 10px;
  cursor: pointer;
}

.completed {
  background: #0f4c75;
  text-decoration: line-through;
}

input {
  border: none;
  margin-right: 10px;
  padding: 11px 10px;
}

button {
  background-color: #3282b8;
  border: none;
  color: white;
  padding: 11px 10px;
}

button:hover {
  background-color: #0f4c75;
  cursor: pointer;
}


